@model Travel_Blog.Model.Post

@{
    ViewData["Title"] = "Delete Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Post</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PostId)
    @Html.HiddenFor(model => model.LocationId)

    <h2>Are you sure you want to delete the post titled: @Html.DisplayFor(model => model.Name)?</h2>
    <input type="submit" value="Delete Post" />
}
@*<p>@Html.ActionLink("Go Back", "Index/" + Model.PostId)</p>*@