@model Travel_Blog.Model.Location

@{
    ViewData["Title"] = "Add Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Location</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new location" />
}

